.cards__card-like {
    width: 21px;
    height: 19px;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
    display: flex;
    border: 1px solid red;
}

.cards__card-like:hover {
    opacity: 50%;
}

.cards__card-like_click {
    display: none;
}