.cards__card-like {
    width: 21px;
    height: 19px;
    margin-left: 0px;
    margin-top: 5px;
    cursor: pointer;
    display: flex;
}

.cards__card-like:hover {
    opacity: 50%;
}

.cards__card-like:active {
    background-image: url(/images/vectorHeartactive.png);
}
