.cards__card_interation {
    display:grid;
    grid-template-columns:225px 21px;
    grid-template-rows:45px;
    column-gap: 18px;
    width: 280px;
    height: 45px;
    margin-top: 0px;
    margin-left: 0px;
}