.popupCards {
    display:none;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.7);
    z-index:9999;
    position:fixed;
    top:0;
  }
  
  .popupCards_change_display{
      display:flex;
      margin-top:auto;
      position:fixed;
  }
