.popup__form-Explorar {
    margin-top:30px;
    width:358px;
    height:27px;
    font-size:14px;
    font-weight:400px;
    line-height:19.94px;
    border:0;
    border-bottom:1px solid #000000;
    margin-left:36px;
    color:#000000;
}

@media screen and (max-width:320px) and  (max-height:2814px) {

    .popup__form-Explorar {
        margin-top:30px;
        width:238px;
        height:26px;
        font-size:14px;
        font-weight:400px;
        line-height:19.94px;
        border:0;
        border-bottom:1px solid #000000;
        margin-left:22px;
        color:#000000;
    }

}