<!DOCTYPE html>
<html lang=pt-BR>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--   <meta http-equiv="Content-Type" content="text/html; charset=IANAcharset">-->
        <title>EUA AFORA</title>
       <!-- <link rel="stylesheet" href="<%= require('./src/pages/index.css') %>">-->
       <link rel="stylesheet" href="./pages/index.css">

          
     </head>

    <body class="page">
       
            <header class="header">
                <img src="<%= require('./images/Vector.png') %>" alt="vetor header" class="header__vector">
               
                <div class="header__line"></div>
            </header>

            <section class="profile">
                <div class="profile__column">
                        <img src="<%= require('./images/avatar.jpg') %>" alt="imagem avatar" class="profile__avatar">
                            <div class="profile__info">
                            <h1 class="profile__name">Jacques Custeau</h1>
                            <img src="<%= require('./images/EditButton.png') %>" alt="imagem buton editar" class="profile__edit">
                            <h3 class="profile__explorer">Explorar</h3>
                        </div>
                        
                        <div class="profile__addButton">
                            <img src="<%= require('./images/VectorAdd.png') %>" alt="imagem button adicionar" class="profile__addButton-cards">
                        </div>
                </div>
            </section>

            <div class="rechardCards"></div>     

            <template id="cards">
                <div class="cards__card">
                    <img class="cards__card-img" src="<%= require('')%>" alt="nul">
                    <img class="cards__card-lixeira" src="<%= require('./images/Trash.png') %>" alt="imagem lixeira" >
                    <div class="cards__card_interation">
                        <h5 class="cards__card-name"></h5>
                        <div class="cards__cardLike"></div>
                    </div>
                </div>
            </template>

            <section class="popup">
                <img src="<%= require('./images/CloseIcon.png') %>" alt ="image Icon Close" class="popup__closeButton">

                <form class="popup__form form" name="register" novalidate>
                    <h3 class="popup__EditarPerfil">Editar perfil</h3>

                   <div class="form__input"> 
                        <input 
                        class="popup__form-name name-input" 
                        type="text" placeholder="Nome" 
                        name="name" 
                        value="" 
                        minlength="2" 
                        maxlength="40" 
                        required> 
                        <span class="form-input-error form__input-name popup__form-name-error"></span>
                   </div>

                    <div class="form__input">                    
                        <input
                        class="popup__form-Explorar name-input" 
                        type="text" 
                        placeholder="Sobre mim" 
                        name="explorar" 
                        value="" 
                        minlength="2" 
                        maxlength="200" 
                        required>
                        <span class="form-input-error form__input-explorar popup__form-name-error"></span>
                    </div>
               
                    <button class="popup__submit-save saveButton" type="submit">
                        Enviar
                    </button>
                    
                </form>

            </section>

            <section class="popupCards">
                <img src="<%= require('./images/CloseIcon.png') %>" alt ="image Icon Close" class="popupCards__closeButton">

                <form class="popupCards__form form" name="register" novalidate>
                    <h3 class="popupCards__EditarPerfil">Novo Local</h3>
                
                    <div class="form__input"> 
                        <input 
                        class="popupCards__form-name name-input"
                        type="text" 
                        name="name" 
                        placeholder="Nome" 
                        value=""
                        minlength="2"
                        maxlength="40" 
                        required>
                       
                        <span class="form-input-error form__input-name popupCards__form-name-error"></span>
                    </div>

                    <div class="form__input">
                        <input 
                        class="popupCards__form-link name-input"
                        type="url" 
                        name="link" 
                        value="" 
                        placeholder="Link da imagem" 
                        required>
                       
                        <span class="form-input-error form__input-link popupCards__form-link-error"></span>
                    </div>
                    <button type="submit" name="enviar" class="popupCards__submit-save saveButton">Salvar</button>
                </form>
            </section>
           
            <section class="imageDisplay">
                <img src="<%= require('./images/CloseIcon.png') %>" alt ="image Icon Close" class="imageDisplay__close">
                <div class="imageDisplay__zoom">
                    <img class= "imageDisplay__img" alt=" " src="">
                </div>
                <h3 class= "imageDisplay__title"></h3>
            </section>


            <footer>
                <p class="copyright">© 2021 Around The U.S.</p>
            </footer>
        
           
            <script type="module" src="<%= require('./scripts/Card.js') %>"></script>
            <script type="module" src="<%= require('./scripts/index.js') %>"></script>
            <script type="module" src="<%= require('./scripts/FormValidator.js') %>" ></script>
    </body>
</html>